@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --primary-color: #4B007D; /* Dark Purple */
    --secondary-color: #FF00C3; /* Pink */
    --accent-color: #9D4EDD; /* Lighter Purple for hover effects */
    --light-color: #ffffff; /* White for text and backgrounds */
    --text-color: #333333; /* Dark gray for text */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
  
  header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3 {
    color: var(--secondary-color);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e68a00;
  }
  